.topNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 0;
    margin-bottom: 1rem;
    background: transparent;
    width: 100%;
    z-index: 10;
}

.leftSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.rightSection {
    display: flex;
    align-items: center;
    gap: 1rem;
}
